body {
	background-image:url(../images/background.jpg);
	font-family: Verdana;
	font-size: 12px;
}

#main_div {
	width: 800px;
	margin: 0 auto;
}

#profile_menu {
	height: 102px;
}

#for_height {
	height: 130px;
}
#left_div {
	float: left;
	width: 180px;
	clear: both;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#first_left div, #second_left div {
	width: 180px;
	margin-top: 0px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#second_left {
	position: fixed;
}

#right_div {
	float: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
}

#right_div div {
	width: 580px;
	background-color:#FFFFFF;
	border: 1px solid #999999;
	padding: 0 0 0 10px;
}

#login, #password {
	width: 110px;
}

#enter_menu {
	text-align: right;

}

#benter {
	text-align: center;
}
 
#header, #menu {
	width: 800px;
}

#menu {
	height: 20px;
	background-image:url(../images/menu_background.jpg);
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
}

/*#menu div {
	float: left;
}*/

/* ---------------------------------------------------------------Menu--------------------------------------------------------- */
#jsddm{	
		margin: 0;
		padding: 0;
	}
 
	#jsddm div{	
		float: left;
		list-style: none;
		font: 12px Tahoma, Arial;
	}
 
	#jsddm div > a{	
		/*display: block;*/
		background-image:url(../images/menu_background.jpg);
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid #97989D;
		width: auto;  /* width calls */
		color: #666666;
		white-space: nowrap;
		height: 15px;
		
	}
 
	#jsddm div a:hover{	
		background-image:url(../images/menu_b_hover.jpg);
	}
 
	#jsddm div div{	
		margin-top: 6px;
		margin-right: 0px;
		margin-left: 0px;
		position: absolute;
		visibility: hidden;
		
		float: left;
		display: block;
	}
 
	#jsddm div div > a{	
		width: auto; /* width down-calls */
		background: #EBEBEB;
		margin-left: 0px;
		margin-right: 0px;
		border-right:: 1px solid red;
		border-left:: 1px solid red;
		float: left;
		
	}
 
	#jsddm div div a:hover{	
		background: #E1E1E1;
	}
	
	#user_menu {
		width: 800px;
		background-image: url(../images/menu_background.jpg);
	}
/* ------------------------------------------------------------End Menu------------------------------------------------- */