/* ############################################################################# */
/* vBulletin 3 Default Control Panel CSS */
/* ############################################################################# */

/* ############################################################################# */
/* TEXT ELEMENTS */

/* Normal Sized Text */
body, p, td, tr, ol, ul
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Small Sized Text */
.smallfont, dfn, fieldset, fieldset td, .copyright
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Table Title Bars */
.tcat, .thead, .tfoot, .optiontitle, .navbody, .navbody td, legend, .darkbg, .tfoot td, .logincontrols td
{
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Override current font weight and become normal */
.normal
{
	font-weight: normal;
}

/* Display <dfn> tags as block-level elements */
dfn
{
	display: block;
}

/* For those times when you need a monospace font */
.code, .code-g, .code-i, code-c
{
	font: 10pt 'courier new', courier, monospace;
}


/* ############################################################################# */
/* FORM ELEMENTS */

input, select, textarea, option, optgroup
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
optgroup
{
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
}

/* Most form elements appear using this definition */
textarea, .bginput, input.col-c, input.col-i, input.col-g
{
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	color: #DEE0E2;
	background: #10375D;
	border: solid 1px #DEE0E2;
	scrollbar-base-color: #086693;
	scrollbar-arrow-color: #EEF0F2;
	scrollbar-track-color: #10375D;
}
/* slight changes for option and optgroup to keep latest versions of Gecko happy */
option, optgroup
{
	font-weight: bold;
	font-size: 11px;
	font-family: tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	color: #DEE0E2;
	background: #10375D;
}

/* Form elements with the background color defined */
input.bginput, input.col-c, input.col-i, input.col-g
{
	padding: 4px;
}

/* Submit / Important button elements */
.button, .tfoot input, .logincontrols input
{
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* ############################################################################# */
/* BODY AND TABLE STYLES */

/* set colored scrollbars */
html
{
	scrollbar-base-color: #086693;
	scrollbar-arrow-color: #EEF0F2;
	scrollbar-track-color: #10375D;
}

/* Background color and font for the main window */
body
{
	color: #DEE0E2;
	background: #10375D;
}

/* Border around tables */
.tborder
{
	border: ridge 4px;
}

/* Top-level table title rows */
.tcat
{
	color: #001F30;
	background: #EEF0F2 url("../../cpstyles/vBulletin_3_Default/cp_tblhead_bg.gif");
	border: outset 2px;
}

/* Links within top-level table title rows */
.tcat a:link, .tcat a:visited, .tcat a:active
{
	color: #001F30;
}

/* Second-level table titles (often used for column headings) */
td.thead, .thead td
{
	font-weight: bold;
	color: #001F30;
	background: #DEE0E2 url("../../cpstyles/vBulletin_3_Default/cp_colheader_bg.gif");
	border: outset 1px;
	padding: 2px 4px 2px 4px;
}

/* Links within second-level table titles */
.thead a:link, .thead a:visited, .thead a:active
{
	color: #001F30;
}

/* The area within which the submit button usually resides at the bottom of tables */
.tfoot
{
	color: #001F30;
	background: #DEE0E2;
	border: outset 1px;
}

/* First alternating background color */
.alt1
{
	color: #FFFFFF;
	background: #0098CC;
}

/* Second alternating background color */
.alt2
{
	color: #FFFFFF;
	background: #00A6DA;
}

/* class used for the login form */
.logincontrols
{
	color: #001F30;
	background: #DEE0E2;
	border: outset 1px;
}

/* Page title banner */
.pagetitle
{
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
	color: #001F30;
	background: #EEF0F2 url("../../cpstyles/vBulletin_3_Default/cp_tblhead_bg.gif") repeat-x top;
	border: outset 2px;
	padding: 2px 26px 2px 26px;
}

/* ############################################################################# */
/* CUSTOMIZED, INHERITED, GLOBAL / STANDARD COLORS */

/* Global/ Standard elements */
.col-g, input.col-g, textarea.col-g, .code-g, .col-g a:link, .col-g a:visited, .col-g a:active, .code
{
	color: #DEE0E2;
}

/* Inherited elements */
.col-i, input.col-i, textarea.col-i, .code-i, .col-i a:link, .col-i a:visited, .col-i a:active
{
	color: #FFFF00;
}

/* Customized elements */
.col-c, input.col-c, textarea.col-c, .code-c, .col-c a:link, .col-c a:visited, .col-c a:active
{
	color: #FF5500;
}


/* ############################################################################# */
/* LINKS */

/* Normal, visited and active links */
a:link, a:visited, a:active
{
	color: #EEFAFF;
	background: transparent;
}

/* Mouse-over (hover) links */
a:hover, .tcat a:hover, .thead a:hover, .tfoot a:hover
{
	color: #FFFFFF;
	background: #20478D;
}

/* ############################################################################# */
/* TEMPLATE EDITOR AND COLOR KEYS */

/* The row style for each STYLE bar on template.php */
.stylerow
{
	background: #00A6DA url("../../cpstyles/vBulletin_3_Default/option_name_bg.gif") no-repeat;
	margin-bottom: 1px;
}

.stylerow a:link, .stylerow a:visited, .stylerow a:active
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

/* Used for the <select> based template editor and color key legends */
.darkbg
{
	color: #DEE0E2;
	background: #10375D;
}

/* Color for template group text */
.templategroup
{
	color: #00A6DA;
}

/* In the <select> based template editor, set a background-color for template groups */
option.templategroup
{
	background: #00274D;
}

/* Color preview buttons on the CSS editor */
.colorpreview
{
	font-weight: normal;
	background: none;
	border: inset 1px #DEE0E2;
	width: 40px;
	height: 21px;
}

/* ############################################################################# */
/* ACCESS MASK EDITOR */

/* Access is granted to forum */
.am-grant
{
	color: #7CFC00;
	
}

/* Access is denied to forum */
.am-deny
{
	color: #FF5500;
}

/* ############################################################################# */
/* MODERATOR LISTING */

/* Moderator was last online today */
.modtoday
{
	color: #DEE0E2;
}

/* Moderator was last online yesterday */
.modyesterday
{
	color: #7CFC00;
}

/* Moderator was last online within the last 10 days */
.modlasttendays
{
	color: #FFFF00;
}

/* Moderator has not been on in the last 10 days */
.modsincetendays
{
	color: #48D1CC;
}

/* Moderator has not been on in last 30 days */
.modsincethirtydays
{
	color: #FF5500;
}

/* ############################################################################# */
/* LIST ELEMENT TYPES */

/* list elements with a square bullet */
.lsq
{
	list-style-type: square;
}
/* list elements with a hollow circle bullet */
.lci
{
	list-style-type: circle;
}
/* list elements with a solid circle bullet */
.ldi
{
	list-style-type: disc;
}
/* list elements with NO bullet */
.lno
{
	list-style-type: none;
}

/* ############################################################################# */
/* MISC */

/* The row style for individual option titles in the vBulletin settings/options editor */
.optiontitle
{
	font-weight: bold;
	color: #000000;
	background: #00A6DA url("../../cpstyles/vBulletin_3_Default/option_name_bg.gif") no-repeat;
	border: outset 1px;
}

/* Style for all (Help) links */
.helplink
{
	font-size: 10px;
	text-decoration: none;
	cursor: help;
}

/* Titles for <fieldset> elements */
legend
{
	font-weight: bold;
	color: #FFFFFF;
}

/* vBulletin copyright text shown at the bottom of most control panel pages */
a.copyright:link, a.copyright:visited, a.copyright:active
{
	text-decoration: none;
	color: #5087AD;
	border-top: dashed 1px #5087AD;
	padding: 1px;
}

/* Add a little style to all <hr /> elements */
hr
{
	border-top: solid 1px #DEE0E2;
	height: 0px;
}

/* Usergroup entry for lists in permission editors */
.usergroups li
{
	font: 11px tahoma;
	list-style-type: disc;
}

/* ############################################################################# */
/* NAV PANEL ELEMENTS */

/* Background color for nav panels and the template editor */
.navbody, .stylebg
{
	color: #FFFFFF;
	background: #086693 url("../../cpstyles/vBulletin_3_Default/cp_navbody_bg.gif");
	scrollbar-base-color: #008FBF;
	scrollbar-arrow-color: #EEF0F2;
	scrollbar-track-color: #0381B1;
}

/* Text decoration for all links in nav panel */
.navbody a:link, .navbody a:visited, .navbody a:active
{
	text-decoration: none;
	color: #FFFFFF;
}

/* Expandable nav group titles */
.navtitle
{
	font-weight: bold;
	color: #DEE0E2;
	background: #10375D;
	border: solid 2px #48ACDD;
	padding: 3px;
	margin-top: 3px;
	cursor: default;
}

/* Container for individual nav links */
.navgroup
{
	border: solid 2px #48ACDD;
	border-width: 0px 2px 1px 2px;
	margin-bottom: 8px;
}

/* Individual nav links */
.navlink-normal, .navlink-hover
{
	border-bottom: solid 1px #48ACDD;
	padding: 2px 4px 2px 4px;
	cursor: hand;
}

/* Normal nav link <div> */
.navlink-normal
{
	background: #0381B1;
}

/* Mouse-over nav link <div> */
.navlink-hover
{
	background: #036F99; /*#20478D;*/
}